.header {
    background: rgba(68, 103, 191, 0.7);
    width: 100%;
    position: fixed;
    z-index: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    font-size: large;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px; 
    box-sizing: border-box; 
  }
  
  .content {
    padding:6% 10px;
  }

  .header nav {
    float: left;
  }
  
  .header nav ul {
    list-style: none;
    padding: 0;
    margin: 0; 
  }
  
  .header nav ul li {
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    font-size: 18px;
    display: inline;
    margin-right: 10px;
  }
  .header nav ul li a {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  .header nav ul li:hover {
    background: #46466f;
  }